<html ng-app="n17">
	<head>
		<title>Tooltip Test Page</title>
		<script type="text/javascript" src="../dist/inc-frameworks/n17-tooltip.js"></script>
		<link rel="stylesheet" href="../dist/tooltip.css" type="text/css" />

		<script type="text/javascript">
			angular.module('n17', ['n17-tooltip']);

			angular.module('n17').controller('testcontroller', function($scope) {
				this.tooltipVisible = false;
			});
		</script>

		<style type="text/css">
		.tooltip {
			border:none;
		}
		.qtip-content { 
			background-color: white;
			border: 1px solid #808080;
		}
		</style>
	</head>

	<body style="margin-top: 50px;">
		<div ng-controller="testcontroller as ctrl">
			<n17-tooltip-speechbubble tooltip="Tooltip Content" visible="ctrl.tooltipVisible" tooltip-visible="true" tooltip-hide-effect="slide" tooltip-show-effect="slide">Speechbubble</n17-tooltip-speechbubble>
			<p>
			<button ng-click="ctrl.tooltipVisible = true;">TRUE</button>
			<button ng-click="ctrl.tooltipVisible = false;">FALSE</button>
			</p>
		</div>
	</body>
</html>